flask
numpy
pandas
scikit-learn
tensorflow
keras
matplotlib
seaborn
requests
beautifulsoup4
lxml
pyyaml
gunicorn
flask-restful
flask-cors
flask-swagger-ui
flask-jwt-extended
pytest
coverage
black
flake8
pre-commit